<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="File" fileName="${env:CATALINA_HOME}/logs/${env:SERVICE_NAME}.log">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss,SSS}] [%p] %c{3} - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <!-- Turning off location information due to performance impact: https://logging.apache.org/log4j/2.x/manual/layouts.html#LocationInformation -->
        <Root level="info" includeLocation="false">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
