<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<!--
  !!!! IMPORTANT !!!!
  The rules defined here should be kept in sync with /build-tools/codestyle/intellij-codestyle.xml.

  Not doing the previous will cause checkstyle errors when using IntelliJ code reformatting options.
-->
<module name="Checker">
    <property name="severity" value="error"/>
    <property name="charset" value="UTF-8"/>

    <module name="TreeWalker">
        <module name="AvoidStarImport"/>
        <module name="ConstantName"/>
        <module name="IllegalImport"/>
        <module name="LeftCurly"/>
        <module name="LocalVariableName">
            <property name="format" value="^([A-Z]|[a-z][a-zA-Z0-9]*)$"/>
        </module>
        <module name="ModifierOrder"/>
        <module name="NeedBraces"/>
        <module name="ParameterName">
            <property name="format" value="^([A-Z]|[a-z][a-zA-Z0-9]*)$"/>
        </module>
        <module name="UnusedImports"/>
        <module name="WhitespaceAround"/>
    </module>
</module>